/* -------------------------------------------

TITLE : Rena Patten

AUTHOR : Binarix
AUTHOR URL : http://www.binarix.com.au

DESCRIPTION : Full Site Styles
 
------------------------------------------ */

.clear {
	clear: both;
	height: 0;
	margin: 0;
	font-size: 0;
	}

/* ------------------------------------------
 HEADINGS STYLES
------------------------------------------ */

h1 {
	color: #706b65;
	font: 27px/29px Arial,Helvetica,Sans-Serif;
	margin: 0 0 20px 0;
	padding: 0;
	}

h2 {
	color: #706b65;
	font: 14px/23px Verdana, Arial,Helvetica,Sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
	}
    
h2 a { 
	text-decoration: none;
	padding: 0 0 15px 0;
	}
	
h2 a img { border-color: #bbb; }

h3 {
	color: #666;
	font: 16px/21px Arial,Helvetica,Sans-serif;
	margin: 0;
	padding: 0 0 8px 0;
	}
    
form, input { padding: 0; margin: 0; }

/* ------------------------------------------
 LINKS
------------------------------------------ */

a { color: #789042; }
a:hover { text-decoration: none; }
a:visited {}

.icon_link {
	float: right;
	padding-right:15px;
}

/* ------------------------------------------
 TEXT STYLES
------------------------------------------ */

p, td, li {
	font: 11px/18px Verdana, Arial, Helvetica, Sans-serif;
	color: #353535;
	}
    
    .intro {
		color: #706b65;
		font: 14px/23px Verdana, Arial,Helvetica,Sans-serif;
		margin: 0 0 20px 0;
		padding: 0;
		}

p, table { margin: 0 0 10px 0;}

ul {	
	list-style-type:none;
	margin:0;
	padding-left:12px;
}

li { 
	padding: 0;
	margin: 0 0 5px 0;
}

hr {
	border-top: 1px solid #E4E4E4;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	color: #fff;
	margin: 19px 0;
	height: 0;
	padding: 0;
	clear: both;
	}
	
.imgRight {
    float: right;
    padding: 3px;
    border: 1px solid #e5e5e5;
    margin: 0 0 20px 20px;
    }

.imgLeft {
    float: left;
    padding: 3px;
    border: 1px solid #e5e5e5;
    margin: 0 20px 20px 0;
    }

/* ------------------------------------------
 GLOBALS AND LAYOUT ELEMENTS
------------------------------------------ */

html, body {
	margin: 0;
	padding: 0;
    background: #fff url(../templateimages/bg.jpg) top center no-repeat;
	}

#wrapper {
    width: 980px;
    margin: 0 auto;
    }
    
    #logo { height: 204px; width: 908px; margin: 0 auto; }
    
    #logo img {
		margin: 30px auto 0 auto;
		}
    
    #container {
       /* background: url(../templateimages/wrapper-bg-tile.png) top center repeat-y; */
        }
        
        #bnnr {}
        	#bnnr img { display: block;}    
            
        	#book {
				position: absolute;
				width: 292px;
				height: 395px;
				margin-top: -74px;
				margin-left: 665px;
				}
            
				.buyNow {
					border: 0;
              		margin: 3px 0 0 3px;
                	}
                    
        .buyOnlineNow { border: 0; }
		
	#footer {		
		width: 930px;
		margin: 0 auto;
		padding: 0 0 30px 0;
    	font: 11px/25px Verdana, Arial, Helvetica, Sans-serif;
    	color: #706b65;
        text-align:center;
        }

#absoluteplace {
    display:block;
    position:absolute;
    top:0;
    right:0;
    width:266px;

}

#productWrap{
	width: 980px;
	margin: 0 auto;
}
	.productBox {
		width: 300px;
		padding: 20px;
		float: left;
		height:450px;
		}
	
	#productWrap .mid { margin: 0; padding: 20px 0; }

        .productBox .absoluteimg {
            position: absolute;
            margin: -20px 0 0 125px;
            }

			
.buynowimg {
	margin-top:30px !important;
	width: 300px;
}

#binarix {
	font-size:10px;
	font-family:verdana;
	color: #CBCBCB;
	font-family: verdana;
	font-size: 9px;
	margin-left: 590px;
}


/*by dinuka*/

.center_div {
	float: left;
	width: 100%;
}

.clear {
	float: left;
	width: 100%;
}

.txt_wrap {
  float: left;
  min-height: 82px;
  width: 100%;
  padding: 5% 0% 0% 0%;
}


.gap_div {
	  height: 15px;
  float: left;
  width: 100%;
}

/*by dinuka*/